#main{
  display: flex;
  justify-content:space-evenly;
 align-items: center;
 border: 5px solid black;
 margin-bottom: 2rem;
 height:30rem;

}
#div2{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  width:20rem;
  
  padding-left: 5px;
  padding-right: 5px;
 
}
button{
  background-color: darkred;
  color:white;
  height:40px;
  width:80px;
  border:3px solid black;
  border-radius: 45%;
}